# .github/workflows/gradle-build-pr.yml
name: Run Gradle on PRs
on: [ push ]

jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        java-version: 11
    
    - name: Setup and execute Gradle 'core:dist' task
      uses: gradle/gradle-build-action@v2
      with:
        arguments: core:dist

